#popular{
  padding: 80px 0;
  transition: 800ms;
  h1{
    padding-bottom: 40px;
    text-align: center;
    color: white;
    font-family: "Roboto",sans-serif;
  }
  .popular{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    img{
      width: 200px;
      height: 320px;
      padding: 0 20px;
    }
    &--card{
      width: 20%;
      padding: 30px 0;
      border-radius: 10px;
      h3{
        margin-top: 20px;
        font-family: "Roboto",sans-serif;
        text-align: center;
      }
    }
  }
  .top--page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 0;
    button {
      padding: 8px 15px;
      margin: 20px;
      border: cyan 2px solid;
      border-radius: 10px;
      box-shadow: 0 0 15px 5px cyan;
      font-weight: 700;
    }
    &__buttons{
      margin-left: 100px;
      margin-right: 80px;
      button{
        padding: 8px 15px;
        margin: 20px;
        border: white 2px solid;
        border-radius: 10px;
        background: red;
        color: white;
        box-shadow: 0 0 15px 5px red;
        font-size: 14px;
      }
    }
  }

}